body{
    margin: 0%;
    padding: 0%;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: #171719;
}

.contactame{
    border-radius: 10px;
    background-color: #47d16e;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}

.navbar{
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #171719;
    color: white;
    padding: 0 10%;
}

.sobre_mi{
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 15%;
}

.sobre_mi div{
    cursor: pointer;
}

.logo {
    width: 70px;
}

.logo img {
    width: 100%;
    height: auto;
}

.fondoLogo {
    background-image: url("fondo1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 10% 0;
}

.fondoLogo img {
    width: 20%;
    height: auto;
}

#miInfo{
    padding: 0 5%;
    color: white;
    display: flex;
    justify-content: space-between;
}

.fotoPerfil{
    width: 50%;
    border-radius: 100%;
    margin-top: -25%;
}

.fotoPerfil img{
    width: 100%;
    height: auto;
    border-radius: 100%;
}

#infoContacto div{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#infoContacto{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.linkedin{
    width: 45%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: inherit;
    color: white;
    font-weight: bold;
}

.contacto{
    color: #47d16e;
    font-weight: bolder;
}
.nombre{
    color: #47d16e;
}

#miDescripcion{
    text-align: right;
    padding-top: 10%;
}

.habilidades{
    display: flex;
}

#skills{
    margin-top: 5%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

#blandas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#blandas h1{
    text-align: center;
}

.habilidades ul{
    list-style: none;
}

.habilidades li{
    display: flex;
    align-items: center;
    gap: 10px;
}

#repositorios{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    color: white;
    gap: 50px;
}


#repos a{
    text-decoration: none;
    color: inherit;
    color: white;
    font-weight: bold;
}

#repos a:hover{
    text-decoration: none;
    color: inherit;
    color: #1e4b2b;
    font-weight: bold;
    text-decoration: underline;
}

#repos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 80%;
    gap: 15px;
  }

.repo1{
    border-radius: 30px;
    background-image: url("fondoV1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 50px;
    padding-top: 20px;
    grid-column: span 1;
    grid-row: span 2;
}
  
.repo2{
    border-radius: 30px;
    background-image: url("fondoV2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 50px;
    padding-top: 20px;
    grid-column: span 1;
    grid-row: span 1;
  }
  
.repo3{
    cursor: pointer;
    border-radius: 30px;
    background-image: url("fondov3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 50px;
    padding-top: 20px;
    grid-column: 2;
  } 

.repo3:hover{
	-webkit-animation: srepo3 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: repo3 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes repo3{
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateY(12px);
              transform: translateZ(50px) translateY(12px);
      -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes repo3{
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateY(12px);
              transform: translateZ(50px) translateY(12px);
      -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }


  .repo2:hover{
	-webkit-animation: repo2 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: repo2 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes repo2{
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateY(12px);
              transform: translateZ(50px) translateY(12px);
      -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes repo2{
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateY(12px);
              transform: translateZ(50px) translateY(12px);
      -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }


  .repo1:hover{
	-webkit-animation: repo1 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: repo1 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes repo1{
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateY(12px);
              transform: translateZ(50px) translateY(12px);
      -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes repo1{
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateY(12px);
              transform: translateZ(50px) translateY(12px);
      -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }